body{background-color: hsl(217, 54%, 11%);
font-family: Outfit;}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

.col{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    
}
.add{
    margin-top: 10%;
    height: 500px;
    width: 300px;
    display: block;
    justify-content: center;
    background-color:  hsl(216, 50%, 16%) ;
    border-radius: 15px;
   padding: 20px;
}

.add img{
    height: 300px;
    border-radius: 15px;
    margin-bottom: 20px;


    
}
.content {
    position: relative;
    width: 300px;

  }
  
  .content  .content-overlay {
    background: rgba(0,255,255,0.7);
    position: absolute;
    height: 94%;
    width: 100%;
  border-radius: 15px;
  background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 0.9;
    background-image: url("../img/icon-view.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  
  
  .content-details {
    position: absolute;
    text-align: center;
    
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  
  
  
  .fadeIn-bottom{
    top: 80%;
  }
  
  .fadeIn-top{
    top: 20%;
  }
  
  .fadeIn-left{
    left: 20%;
  }
  
  .fadeIn-right{
    left: 80%;
  }

a{
    color: white;
    font-size: 18px;

text-decoration: none;
}
a:hover{
    color: aqua;
}
p{
    padding-top: 20px;    
    padding-bottom: 20px;    
    margin: 0px;
    color: rgb(139, 137, 137);
}
.col img{
    height: 15px;
    margin: 0px;
    margin-right: 5px;
}

.col .monycolor{
    color: aqua;
    margin: 0px;
    padding-top: 0px;
}
.col .days{
    margin: 0px;
    padding-top: 0px;
}
.monyleft{
    margin-right: 100px;
}

.row .profaln{
    height: 30px;
    width: 100%;
}
.profaln img{
    height: 30px;
    margin-right: 10px;
    border: 1px solid white;
}
.profaln p{
    margin: 0px;
    padding: 3px;
}